body{
  background-color: #a5c955;
}


#bar {
  height: 100px;
  width: 100%;
}

#title{
  font-family: Poppins;
  text-align: center;
  text-shadow: 1px 1px 1px #0b84bf;
  font-size: 3em;
  border: 0;
  padding: 0;
  margin: 0;
}

p{
  font-family: Poppins;
  font-size: 1em;
  text-align: center;
}

h2{
  font-family: Poppins;
  text-align: center;
}

input[type="text"]{
  border: 1px dotted #999;
  border-radius: 20px;
  text-align: center;


  -webkit-appearance: none;
}

li {
  font-size: 16px;
}

#board{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding : 50px;
  border-radius: 20px;
  background-color: #f4f3de;

}
